<!DOCTYPE html>
<html ng-app="introApp">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Intro to Angular</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="introController as ic">
	<button ng-click="ic.greeting()"> Reveal Greeting</button>
	<h1>{{ic.greeting}}</h1>
	<button ng-click="ic.showFunc()">Things We Do</button>
	<ul ng-show="ic.showMe">
		<li>Num</li>
		<li>Num</li>
		<li>Num</li>
	</ul>

<!-- 	Part II -->
	<div >
		<h3>H three tag</h3>
		<p>ipsum</p>
		<p ng-mouseover="ic.toggleActive()" ng-class="{true: 'colorChange', false: ''}[ic.isActive]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat on proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>snippet:lorem</p>
		<ul ng-mouseover="">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Clients</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<p ng-mouseover="ic.toggleActive()" ng-class="{true: 'colorChange', false: ''}[ic.isActive]">nope didnt</p>
	</div>
</body>
</html>